@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Ubuntu:wght@300&display=swap');

:root {
  /* font-family */
  --font-rubik: 'Rubik', sans-serif;
  --font-Ubuntu: 'Ubuntu', sans-serif;

  /* colors */
  --orange-scondary: #F94C10;
  --white: #FFFF;
  --black: #0000;
  --blue-scondary: #4477CE;
  --red: #C70039;

  /* font-size */
  --title: 10rem;
  --title-scondaru: 8rem;
  --text: 1rem;

  /* backgorund */
  --bg-orange: #F94C10;
  --bg-red-scondary: #C70039;
  --bg-blue-scondary: #4477CE;
  --bg-white: #FFFF;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: blue;
}

* {
  margin: 0;
  padding: 0;
}

#root {
  background-color: chocolate;
  width: 100%;
  min-height: 100%;
}